h1{
  color:blue;}
h2{
  color:green;}

.laatikko{
          position:absolute;
          left: 150px;
          width:200px;
          height:100px;
          background-color:blue;
}
.laatikko2{
          position:absolute;
          left: 500px;
          width: 200px;
          height: 100px;
          background-color:violet;
}
